/* Show it is fixed to the top */
body {
  background-color: #383838e1;
  min-height: 75rem;
  padding-top: 4.5rem;
}
main{
  color:rgb(255, 249, 242);
  margin-top: 1%;
  margin-left: 10%;
  margin-right: 10%;
}

/*** Text-CSS ***/

.floatlabel{
  color:black;
}

/*** Header CSS ***/

.navlink-padding{
  padding-top: 6px;
  padding-bottom: 0px;
}

/*** Overview-CSS ***/

.overview-table{
  text-align: center;
  padding-top: 1%;
  padding-left: 20%;
  padding-right: 20%;
}

/*** Member-CSS ***/

.member-table{
  text-align: center;
  padding-top: 1%;
}

/*** Times-CSS ***/

.times-table{
  text-align: center;
  padding-top: 1%;
  padding-left: 10%;
  padding-right: 10%;
}