/* Show it is fixed to the top */
body {
  background-color: #383838e1;
  min-height: 75rem;
  padding-top: 4.5rem;
}
main{
  color:rgb(255, 249, 242);
  margin-top: 1%;
  margin-left: 10%;
  margin-right: 10%;
}

/*** Text-CSS ***/

.floatlabel{
  color:black;
}
.font-header{
  color: rgb(255, 255, 255);
}
.font-subheader{
  color: rgb(255, 255, 255);
}
.font-link:link{
  color: rgb(255, 255, 255);
}
.font-link:visited{
  color: rgb(255, 255, 255);
}
.font-link:hover{
  color: rgb(155, 154, 154);
}
.font-link:active{
  color: rgb(155, 154, 154);
}
.table-caption{
  color: aliceblue;
}

/*** Header CSS ***/

.navlink-padding{
  padding-top: 6px;
  padding-bottom: 0px;
}
.header-padding {
  padding-left: 10%;
  padding-right: 10%;
}

/*** Overview-CSS ***/

.overview-table{
  text-align: center;
  padding-top: 1%;
  padding-left: 5%;
  padding-right: 5%;
}
.overview-lootorder{
  text-align: center;
  padding-top: 1%;
  padding-left: 5%;
  padding-right: 5%;
}

/*** Member-CSS ***/

.member-table{
  text-align: center;
  padding-top: 1%;
}

/*** Times-CSS ***/

.times-table{
  text-align: center;
  padding-top: 0%;
  padding-left: 10%;
  padding-right: 10%;
}

/*** Detailed Times-CSS ***/

.timesdetail-table{
  text-align: center;
  padding-top: 0%;
  padding-left: 10%;
  padding-right: 10%;
}
td.detail-available{
  background-color: green;
}
td.detail-maybe{
  background-color: orange;
}
td.detail-unavailable{
  background-color: red;
}
th.detail-divider{
  background-color: #394046;
}
td.detail-divider{
  background-color: #394046;
}

/*** Gear-CSS ***/

.category-heading{
  margin-bottom: 0%;
  font-size: 2em;
  font-style: italic;
  font-weight: bold;
  text-decoration: underline;
}
.category-subheading{
  margin-top: 2%;
  margin-bottom: 1%;
  font-size: 1.2em;
  font-weight: bold;
}
.selection-label{
  margin-bottom: 0.5%;
  font-size: 1em;
}
.gear-row{
  padding-top: 2%;
  padding-left: 3%;
  padding-right: 3%;
}
.gear-1{
  background-color: none;
  border-style: solid;
  border-color: white;
  border-width: 2px 1px 2px 2px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  padding: 1%;
  padding-left: 2%;
  padding-right: 2%;
}
.gear-2{
  background-color: none;
  border-style: solid;
  border-color: white;
  border-width: 2px 1px 2px 1px;
  padding: 1%;
  padding-left: 2%;
  padding-right: 2%;
}
.gear-3{
  background-color: none;
  border-style: solid;
  border-color: white;
  border-width: 2px 2px 2px 1px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 1%;
  padding-left: 2%;
  padding-right: 2%;
}

/*** Loot-Priority CSS ***/

.priority-table{
  text-align: center;
  padding-top: 2%;
  padding-left: 5%;
  padding-right: 5%;
}
.prioritytable-head{
  min-width: 6,9%;
}
.priority-selector{
  width: 100%;
}